@font-face {
  font-family: kanit-Regular;
  src: url("./Font-family/Kanit-Regular.ttf");
  
}
@font-face {
  font-family: kanit-Medium;
  src: url("./Font-family/Kanit-Medium.ttf");
}
@font-face {
  font-family: kanit-Bold;
  src: url("./Font-family/Kanit-Bold.ttf");
}
@font-face {
  font-family: kanit-SemiBold;
  src: url("./Font-family/Kanit-SemiBold.ttf");
}
@font-face {
  font-family: Raleway-Medium;
  src: url("./Font-family/Raleway-Medium.ttf");
}
@font-face {
  font-family: Raleway-semiBold;
  src: url("./Font-family/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: Raleway-Bold;
  src: url("./Font-family/Raleway-Bold.ttf");
}
@font-face {
  font-family: Raleway-Regular;
  src: url("./Font-family/Raleway-Regular.ttf");
}

